@charset "utf-8";

/*commonBodyContents 시작*/
#commonBodyContents {
    width: 100%;
    display:flex;
    flex-wrap: nowrap;
}
/*commonBodyContents>commonSideMenu 시작*/
#sideMenu {
    height:100%;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 10%);
}

#sideMenu ul:not(#panel){
    width:100%;
}

.sideMenu ul li {
    line-height: 52px;
    padding-left:15px;
    font-family:'NanumSquareRound';
}

.sideMenu ul li a{
    color:#fff;
}

.sideMenu ul li a span:not(#slideSpan) {
    font-size:14px;
    margin-left:8px;
}

.sideMenu ul li #panel li a {
    font-size: 13px;
}

.sideMenu ul li a img {
    vertical-align: sub;
}

.sideMenu ul li a #slideSpan {
    float: right;
    margin-right: 15px;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.8;
}

.sideMenu ul li a.active #slideSpan {
    font-size: 24px;
}

#business {
    background-color:rgb(62, 62, 158);
}
/*commonBodyContents>commonSideMenu 끝*/
/*commonBodyContents>commonContent 시작*/
#commonContent {
    width:100%;
    padding:10px 12px 0 12px;
    box-sizing: border-box;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    overflow-y:auto;
}

#commonContent>div {
    background: #fff;
    grid-row: span 2;
    box-shadow: 0px 2px 14px rgb(0 0 0 / 12%);
}

#commonContent>div>div hr {
    float:left;
    width:2.5px;
    height:28px;
    background-color:#332E85;
}

#commonContent>div>div span {
    margin-left:8px;
    color:#332E85;
    font-family: 'NanumSquareRound';
    font-size:15px;
    line-height:36px;
}

::-webkit-scrollbar {
    width: 0.6em;
    height:0.6em;
}

::-webkit-scrollbar-track {
    margin-block: 0.5em;
}
/*commonBodyContents>commonContent 끝*/
/*commonBodyContents 끝*/


/*1920 commonBodyContents 시작*/
#sideMenu ul:not(#panel), #commonContent {
    height:calc(100vh - 54px);
}
/*1920 commonBodyContents>commonSideMenu 시작*/
#sideMenu{
    width:172px;
}
/*1920 commonBodyContents>commonSideMenu 끝*/
/*1920 commonBodyContents>commonContent 시작*/
#commonContent>div{
    min-height: 400px;
}
#commonContent>div:nth-child(1), #commonContent>div:nth-child(n+5):nth-child(-n+6) {
    grid-column: span 3;
}

#commonContent>div:nth-child(n+7):nth-child(-n+8) {
    grid-column: span 6;
}
/*1920 commonBodyContents>commonContent 끝*/
/*1920 commonBodyContents 끝*/

/* @media all and (min-width:1920px){
} */