<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../css/common/root.css" rel="stylesheet" type="text/css"/>
    <link href="../css/common/commonHeader.css" rel="stylesheet" type="text/css"/>
    <link href="../css/common/commonContent.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div id="commonTopHeader">
        <div id="mainTopLogo">
            <a href="">
                <img src="" alt=""/>
            </a>
        </div>
        
        <div class="mainTopMenu" id="mainTopMenu">
            <ul>
                <li><button type="button" data-keyword="business" onClick="bodyTopPageClick(this);">상단메뉴</button></li>
                <li><button type="button" data-keyword="gw" onClick="bodyTopPageClick(this);">상단메뉴</button></li>
                <li><button type="button" data-keyword="accounting" onClick="bodyTopPageClick(this);">상단메뉴</button></li>
            </ul>
        </div>

        <div id="mainInfo"></div>
    </div>
    <!-- commonTopHeader end -->

    <div id="commonBodyContents">
        <div id="commonSideMenu">
            <div class="sideMenu" id="sideMenu">
                <ul id="business">
                    <li>
                        <a href="/">
                            <!-- <img src="../images/common/commonMenu/mainHomeIcon.png" id="mainHomeIcon" /> -->
                            <span>메뉴</span>
                        </a>
                    </li>
                    <li>
                        <a href="/business/notice">
                            <!-- <img src="../images/common/commonMenu/mainNoticeIcon.png" id="mainNoticeIcon" /> -->
                            <span>메뉴</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <!-- <img src="../images/common/commonMenu/mainSchedIcon.png" id="mainSchedIcon" /> -->
                            <span>메뉴</span>
                            <span id="slideSpan">+</span>
                        </a>
                        <ul id="panel">
                            <li><a href="/business/schedule">하위메뉴</a></li>
                            <li><a href="/business/workreport">하위메뉴</a></li>
                            <li><a href="/business/workjournal">하위메뉴</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- commonSideMenu end-->

        <div id="commonContent">
            <div class="container">
                <div>
                    <hr>
                    <span>제목</span>
                </div>
                <div></div>
            </div>

            <div class="container">
                <div>
                    <hr>
                    <span>제목</span>
                </div>
                <div></div>
            </div>

            <div class="container">
                <div>
                    <hr>
                    <span>제목</span>
                </div>
                <div></div>
            </div>

            <div class="container">
                <div>
                    <hr>
                    <span>제목</span>
                </div>
                <div></div>
            </div>

            <div class="container">
                <div>
                    <hr>
                    <span>제목</span>
                </div>
                <div></div>
            </div>

            <div class="container">
                <div>
                    <hr>
                    <span>제목</span>
                </div>
                <div></div>
            </div>

            <div class="container">
                <div>
                    <hr>
                    <span>제목</span>
                </div>
                <div></div>
            </div>

            <div class="container">
                <div>
                    <hr>
                    <span>제목</span>
                </div>
                <div></div>
            </div>
        </div>
    </div>
    <!-- commonBody end -->
</body>
</html>